mixin Product()
    div(class="product-container position-relative " + attributes.class)
        a(href='/product/' + attributes.slug, class=attributes.layout + " position-relative")
            figure.w-100
                img(src=attributes.imgLink, alt="Error while loading image...", width="205px", class="img-responsive")
            div.w-100
                p(style="-webkit-box-orient: vertical;", class="product-title")= attributes.title
                .product-price
                    .product-price__discounted= attributes.discountedPrice
                        span.currency đ
                    .product-price__original= attributes.originalPrice
                        span.currency đ
                if attributes.discount
                    .position-absolute.top-0.product-discount= '-'+attributes.discount+'%'
        .product-actions.position-absolute
            a(href=`http://localhost:9999/cart/add/${attributes.id}`, class="product-actions__purchase flex-grow-1") Mua ngay
            .product-actions__preview Xem nhanh 

