extends ../../layouts/main
mixin ProductInCart()
    div(class="product-cart-container " + attributes.class)
        tr
            td
                figure
                    img(src=attributes.imgLink, alt="Error while loading image...", width="150px", class="img-responsive")
            td
                p(style="-webkit-box-orient: vertical;", class="product-title")=attributes.title
            td(class="money" id=`cartproduct-unitprice-${attributes.id}`)=attributes.unitPrice
            td(class="amount")
                .amount-container
                    button(onclick=`decAmount(${attributes.id})`) -
                    span(id=`cartproduct-amount-${attributes.id}`)=attributes.amount
                    button(onclick=`incAmount(${attributes.id})`) +
            td(class="money finishprice" id=`cartproduct-finishprice-${attributes.id}` )=attributes.price
            td(class="remove")
                button(onclick=`console.log(${attributes.id})`) X
    
block content
    .cart 
        nav(aria-label='breadcrumb')
                .container
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='/') Trang chủ            
                        li.breadcrumb-item.active(aria-current='page') Giỏ hàng
        .container
            h1(class='cart-title') Giỏ hàng
            table
                tr 
                    th(class='col-2')  Ảnh sản phẩm
                    th(class='col-4')  Tên sản phẩm
                    th(class='col-1')  Đơn giá
                    th(class='col-1')  Số lượng
                    th(class='col-1')  Thành tiền
                    th(class='col-1')  Xóa
                +ProductInCart(class="", imgLink="//bizweb.dktcdn.net/thumb/small/100/329/122/products/laptop-gaming-asus-rog-zephyrus-g15-ga503rw-ln100w.png", title="Laptop Gaming Asus ROG Zephyrus G15 GA503RW-LN100W (Ryzen 7 6800H, RTX 3070 Ti 8GB, Ram 32GB DDR5, SSD 1TB, 15.6 Inch IPS 240Hz WQHD)",unitPrice="60.990.000",price="60.990.000", id=1,amount=2 )
                +ProductInCart(class="", imgLink="//bizweb.dktcdn.net/thumb/small/100/329/122/products/laptop-gaming-asus-rog-zephyrus-g15-ga503rw-ln100w.png", title="Laptop Gaming Asus ROG Zephyrus G15 GA503RW-LN100W (Ryzen 7 6800H, RTX 3070 Ti 8GB, Ram 32GB DDR5, SSD 1TB, 15.6 Inch IPS 240Hz WQHD)",unitPrice="60.990.000",price="60.990.000", id=2,amount=2)
                tr( class=`totalprice`)
                    td(colspan="6" class="totalprice pe-5")  Tổng tiền: 
                        span(id=`totalprice` class='money text-success')    121.980.000
            div(class='my-5 d-flex justify-content-end')
                button(class="btn btn-primary me-2") Tiếp tục mua hàng 
                button(class='btn btn-success') Thực hiện thanh toán
    script.
         window.onload = function(){cartOnLoad()}