extends ../../layouts/main

block content
    - var promotedProducts = [{imgLink: "https://bizweb.dktcdn.net/100/329/122/products/laptop-msi-prestige-14-a11sc-203vn.png?v=1642654754000",title: "Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)",discountedPrice:"24,290,000", originalPrice:"33,900,000"},{imgLink: "https://bizweb.dktcdn.net/100/329/122/products/laptop-hp-probook-430-g8-614k9pa.png?v=1649239194000",title: "Laptop HP Probook 430 G8 614K9PA (i5-1135G7, Iris Xe Graphics, Ram 8GB, SSD 256GB, 13.3 Inch IPS FHD)",discountedPrice:"24,290,000", originalPrice:"33,900,000"},{imgLink: "https://bizweb.sapocdn.net/thumb/medium/100/329/122/products/laptop-lenovo-yoga-slim-7-pro-14ihu5-o-82nh00aevn.png?v=1651221446000",title: "Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)",discountedPrice:"24,290,000", originalPrice:"33,900,000"},{imgLink: "https://bizweb.sapocdn.net/thumb/medium/100/329/122/products/laptop-lenovo-yoga-slim-7-pro-14ihu5-o-82nh00aevn.png?v=1651221446000",title: "Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)",discountedPrice:"24,290,000", originalPrice:"33,900,000"},{imgLink: "https://bizweb.dktcdn.net/100/329/122/products/laptop-msi-prestige-14-a11sc-203vn.png?v=1642654754000",title: "Laptop MSI Prestige 14 A11SC-203VN (i7-1195G7, GTX 1650 4GB, Ram 16GB DDR4, SSD 512GB, 14 Inch IPS FHD)",discountedPrice:"24,290,000", originalPrice:"33,900,000"},]
    section.product-detail__header.py-4.text-success.border.border-bottom.mb-5
        .container=product.name
    section.product-detail__body.container
        .row
            .col-9.row.pe-5
                figure.col-5
                    img(src="https://bizweb.sapocdn.net/thumb/1024x1024/100/329/122/products/laptop-gaming-asus-tuf-gaming-a15-fa507re-hn007w.png?v=1652324057273", alt="error when loading...", class="img-responsive")
                .col-7
                    h1.product-detail__body-title=product.name
                    .rate.mt-3.d-flex
                        .rate-stars
                            i.fa-solid.fa-star.fa-lg.rated.text-warning
                            i.fa-solid.fa-star.fa-lg.rated.text-warning
                            i.fa-solid.fa-star.fa-lg.rated.text-warning
                            i.fa-solid.fa-star.fa-lg.rated.text-warning
                            i.fa-solid.fa-star.fa-lg.rated.text-warning
                        .rate-review.ms-3
                            a(href="#" class="link-primary") Xem 7 đánh giá
                    .group-status.mt-4
                        span Thương hiệu:
                            span.text-success.ms-1=product.brand
                        span.ms-3 |
                        span.ms-3 Tình trạng:
                            span.text-success.ms-1 Còn hàng                   
                    .product-price.d-flex.mt-4
                        .product-price__discounted.lg=product.discountedPrice
                            span.currency đ
                        .product-price__original.lg.ms-2=product.originalPrice
                            span.currency đ
                    ul.mt-4.product-trait
                        li CPU:  Ryzen 7 5800HS (2.8GHz~4.4GHz) 8 Cores 16 Threads
                        li VGA: GeForce RTX 3050 4GB
                        li Ram: 8GB DDR4 3200MHz
                        li Ổ cứng: 512GB SSD M.2 PCIe Gen 3.0
                        li Màn hình: 14" IPS 120Hz WQHD 100% DCI-P3
                        li Bảo hành 2 năm.                    
                    .product-quantity.mt-4
                        p Số lượng:
                        .d-inline-flex.btn-group.mt-3
                            button.btn.btn-outline-dark.fw-bolder.fs-1 -
                            input(type="text", name="quantity", id="product_quantity", value="1")
                            button.btn.btn-outline-dark.fw-bolder.fs-1 +
                    .product-order.row.mt-5
                        div.col-6
                            button.btn.btn-success.w-100.py-3
                                p.text-uppercase.fw-bold Mua ngay
                                p.fs-5 Giao hàng miễn phí tận nơi
                        div.col-6
                            button.btn.btn-info.w-100.py-3
                                a(href="tel:02812345678" class="d-block text-white")
                                    p.text-uppercase.fw-bold Gọi đặt hàng
                                    p.fs-5 Vui lòng đặt hàng tại (028) 1234 5678
                .product-description
                    .btn-group 
                        button.btn.btn-success.fs-4.fw-bold.text-uppercase.py-3.px-5 Mô tả sản phẩm
                        button.btn.btn-light.fs-4.fw-bold.text-uppercase.py-3.px-5 Thông số kỹ thuật
                    .border.position-relative.product-description__tab
                        .product-description__content
                            p.lh-base=product.detail
                            img(src="https://bizweb.sapocdn.net/100/329/122/files/headline-dd5f27c2-b781-4971-84b6-8866cbd51892.jpg?v=1652148701634", alt="error when loading...", class="img-responsive", width="100%")
                        .show-more.position-relative
                            .overlay                        
                            button.btn.btn-outline-success.px-4.position-absolute.start-50.translate-middle-x Xem đầy đủ
                .product-comment.mt-5
                    h2.product-comment__title.text-uppercase.my-5 Khách hàng nhận xét
                    .row.pb-4
                        .col-6.text-center
                            h4.mb-3.fw-normal Đánh giá trung bình
                            h1.text-danger.fw-bolder.mb-4
                                span 4.7
                                span &nbsp;/&nbsp;
                                span 5
                            p.text-secondary (3 đánh giá)
                        .col-6
                            +Rate(number="5", rate="67%", width="w-75")                        
                            +Rate(number="4", rate="33%", width="w-25")                        
                            +Rate(number="3", rate="0%", width="w-0")                        
                            +Rate(number="2", rate="0%", width="w-0")                        
                            +Rate(number="1", rate="0%", width="w-0")
                    .dropdown-divider.border-light
                    .product-comment__form.mt-5
                        h2.mb-4
                            span.fw-normal Đánh giá, bình luận về 
                            span "Máy tính Asrock Mini PC DeskMini X300 X300/B/BB/BOX/US"
                        .mb-5
                            p.mb-3 B1: Chọn đánh giá của bạn
                            .rate-stars
                                i.fa-solid.fa-star.fa-lg.rated.text-warning.me-2
                                i.fa-solid.fa-star.fa-lg.rated.text-warning.me-2
                                i.fa-solid.fa-star.fa-lg.rated.text-warning.me-2
                                i.fa-solid.fa-star.fa-lg.rated.text-warning.me-2
                                i.fa-solid.fa-star.fa-lg.rated.text-warning
                        .mb-5
                            p.mb-3 B2: Nhập đánh giá về sản phẩm                 
                            textarea(class="w-100 border p-4 me-5" rows="4"  placeholder="...")
                        button.btn.btn-success.align-self-start.p-3.fs-4.fw-bold Gửi nhận xét                    
                    .product-comment__list.my-5
                        .border-top
                            +Comment(name="Nguyễn An", content="cho mình hỏi nếu thay ryzen 5 thành ryzen 7 thì giá bao nhiêu ạ", createAt="18/05/2022 14:48")                     
                            +CommentRep()                     
                        .border-top
                            +Comment(name="Nguyễn An", content="cho mình hỏi nếu thay ryzen 5 thành ryzen 7 thì giá bao nhiêu ạ", createAt="18/05/2022 14:48")
                        .border-top
                            +Comment(name="Nguyễn An", content="cho mình hỏi nếu thay ryzen 5 thành ryzen 7 thì giá bao nhiêu ạ", createAt="18/05/2022 14:48")
                        .border-top
                            +Comment(name="Nguyễn An", content="cho mình hỏi nếu thay ryzen 5 thành ryzen 7 thì giá bao nhiêu ạ", createAt="18/05/2022 14:48")
                        .border-top
                            +Comment(name="Nguyễn An", content="cho mình hỏi nếu thay ryzen 5 thành ryzen 7 thì giá bao nhiêu ạ", createAt="18/05/2022 14:48")
            .col-3
                .product-recommend.rounded.overflow-hidden.border
                    h3.bg-success.text-white.py-3.px-4.text-uppercase Có thể bạn thích
                    ul
                        li
                            each product in promotedProducts
                                +Product(class="border-bottom p-4", imgLink=product.imgLink, title=product.title, discountedPrice=product.discountedPrice, originalPrice=product.originalPrice,discount=product.discount, layout="d-flex")                                
